body{
  margin: 0;
  padding: 0;
  font-family:serif;
  background-color: #fff;
  line-height: 1.5;
}

/* Elements */
h1{
  line-height: 1;
  font-size: 6rem;
  font-weight: bolder;
}

h2{
  color: #7D5A5A;
  font-size: 3rem;
}

h3{
  padding-top: 3%;
}

p{
  line-height: 1;
  font-size: 1.2rem;
}

ul,li{
  text-decoration: none;
}

/* Sections */
#header{
}

#main-section{
  padding: 7.5% 12%;
}

#sub-section{
  margin-top: -30%;
  padding: 5% 12%;
  text-align: center;
  background-color: #FFD3B6;
}

#second-subsection{
  margin-top: 8%;
  padding: 5% auto;
  text-align:center;
}

#footer{
  background-color: #D4A5A5;
  padding: 3% 12%;
  margin-top: 5%;
  text-align: center;
}

/* Navigator bar */
.navbar-list{
  margin-left: 45rem;
}

.nav-brand{
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}
.navbar-item{
  display: inline;
  text-decoration: none;
}

.navbar-link, .navbar-link:hover{
  font-size: 1.7rem;
  text-decoration: none;
  color: #7D5A5A;
  margin-left: 2rem;
}

/* Images & Button*/
.jumbotron{
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.main-img{
  width: auto;
  height: 50%;
}

.btn{
  background-color: #FFBD35;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.btn-product{
  background-color: #FFBD35;
  color: #fff;
  font-weight: bold;
  border-color: #FFAAA5;
}


/* Main-Section */
.main-left{
  padding: 6%;
  text-align:center;
  line-height: 1.5;
  font-size: 1.3rem;
}

.main-right{
  text-align: center;
}

/* Sub Section */

/* Footer */
.icons{
  margin:1% 1.5%;
  font-size: 1.5rem;
  color: black;
}
